.App {
  text-align: center;
}

body {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background: -webkit-linear-gradient(-180.00000687207deg , rgba(46.66,79.71,164.69,1) 0%, rgba(246.5,197.9,153.04,1) 100%);
	background: -o-linear-gradient(-180.00000687207deg , rgba(46.66,79.71,164.69,1) 0%, rgba(246.5,197.9,153.04,1) 100%);
	background: -moz-linear-gradient(-180.00000687207deg , rgba(46.66,79.71,164.69,1) 0%, rgba(246.5,197.9,153.04,1) 100%);
	background: -ms-linear-gradient(-180.00000687207deg , rgba(46.66,79.71,164.69,1) 0%, rgba(246.5,197.9,153.04,1) 100%);
	background: linear-gradient(-180.00000687207deg , rgba(46.66,79.71,164.69,1) 0%, rgba(246.5,197.9,153.04,1) 100%);
}
